#content-report {
    width: 730px;
    height: 200px;
}

#body-report {
    margin-top: 5%;
    background-image: url(https://img.thuthuattinhoc.vn/uploads/2019/01/24/cute-background-hd_115830959.jpg);
}