h1{
    transform: translate( 25%, -5%);
}
input{
    border-radius: 5px;
    
}
.hoten{display: inline-block  ;

}
#banner{
    background-image: url(logoproject.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 645px;
    width: 600px;
    display: inline-block;
    margin-top: 0.5%;
    margin-left: 1%;
}
#login{
    width: 40%;
    display: inline-block;
    margin-left: 5%;
    box-sizing: border-box;
    /* height: 278px; */
    height: 35%;
    margin-right: 2%;
    margin-bottom: 0%;
}

.form{
    transform: translate( 15%, -5%);
    
}

p{
    margin-block-end: 0em;
}


input:focus{
    border: black solid 1px;
}

#logo{
    /* margin-left: 125px; */
    margin-left: 23%;
}

.radius{
    height: 1rem;
    width: 13rem;
    display: inline-block;
}

#khung{
    width: 100%;
    border: black 2px solid;
    margin-top: 3%;
}
#dangki{
    margin-left:50%;
}