h1{
    transform: translate( 25%, -5%);
}
input{
    border-radius: 5px;
    
}
#banner{
    background-image: url(logoproject.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 645px;
    width: 600px;
    display: inline-block;
    margin-top: 0%;
    margin-left: 0%;
}
#login{
    width: 40%;
    display: inline-block;
    margin-left: 5%;
    box-sizing: border-box;
    /* height: 278px; */
    height: 35%;
    margin-right: 0%;
    margin-bottom: 0%;
}

.form{
    transform: translate( 15%, -5%);
    
}


input:focus{
    border: black solid 1px;
}

#logo{
    /* margin-left: 125px; */
    margin-left: 23%;
}

.radius{
    height: 1.5rem;
    width: 13rem;
}

#khung{
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border: black 2px solid;
}
p{
    font-family: Helvetica;
}