#search-input {
  width: 400px;
}

#search-button {
  height: 25px;
  width: 30px;
  background-image: url(https://banner2.cleanpng.com/20180404/guq/kisspng-computer-icons-user-interface-encapsulated-postscr-search-button-5ac4dcd10ed4e5.9256549415228510250608.jpg);
  background-position: center center;
  box-sizing: border-box;
  background-size: cover;
}

#dangtai-button {
  width: auto;
  align-content: center;
}

#dangnhap-button {
  padding-right: 0%;
}

.custom {
  margin-right: 2%;
  justify-content: space-between;
}

/* .top-style{
  margin-left: 5%;
} */

#carouselExampleControls {
  height: 180px;
  width: 80%;
  background-position: center center;
}

.d-block {
  margin-left: 10%;
  width: 80%;
  height: 190px;
  background-size: cover;
  background-position: center center;
}

.carousel-control-prev {
  margin-left: 10%;

}

.carousel-control-next {
  margin-right: 10%;
}

.phantach {
  border: 1px black solid;
  height: 600px;
}

.chu-khung {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 5%;
  color: red;
  text-underline-position: auto;
}

.toast {
  height: 25%;
}

.anh-table {
  height: 160px;
  width: 160px;
  display: inline-block;
  background-size: cover;
  background-size: center center;
  margin-left: 2%;
}

.monan-table {
  height: 250px;
}

.rounded {
  height: 30px;
  width: 30px;
}

.container {
  margin-top: 5%;
}

.anhyeuthich {
  margin-left: 5%;
  height: 150px;
  width: 150px;
}

.chuthich {
  display: block;
  margin-left: 20%;
}

#bot-page {
  margin-top: 5%;
  height: 200px;
  background-image: url(https://images.unsplash.com/photo-1515003197210-e0cd71810b5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-position: center center;
}